{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4">
        {% for episode in season.episodes %}
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ episode.title }} - Épisode {{ episode.number }}</h5>
                        <p class="card-text">{{ episode.synopsis }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

